@media (max-width: 992px) {
    .contact {
        background: linear-gradient(rgba(21, 31, 32, 1), rgba(21, 32, 32, .95));
    }

    .contact-form {
        width: 80%;
        margin: auto;
    }
}